.main{
    color: #027900;
    margin-top: 80px;
    margin-left: 30px;
}
.awais{
    margin-left: 35px;
}
.khan{
    border: 1px solid black;
    height: 250px;
    width: 220px;
    margin-top: 20px;
    margin-left: 30px;
}
.khan img{
width: 220px;
height: 60px;
margin-top: 20px;
}
.bhai{
    text-align: center;
}
.ak{
    color: rgb(14, 14, 186);
}

.head{
    
    border: 1px solid black;
    height: 250px;
    width: 220px;
    margin-top: -263px;
    margin-left: 250px;
}
.op{
    text-align: center;
}
.color{
    color: rgb(14, 14, 186);
}
.lop{
    border: 1px solid black;
    height: 250px;
    width: 220px;
    margin-top: -251px;
    margin-left: 500px;
}
.wsz{
    text-align: center;
}
.munna{
    color: rgb(14, 14, 186); 
}
.footer{
    border: 1px solid black;
    height: 250px;
    width: 220px;
    margin-top: -251px;
    margin-left: 750px;
}
.owa{
    text-align: center;
}
.mk{
    color: rgb(14, 14, 186);   
}
.header{
    text-align: center;
}